body
{
    position: relative;
    height: 520px;
}

a:link {
    
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.mainLeft
{
    position: relative;
    background-color:#121b28;
    color: rgb(255, 255, 255);
    width: 20%;
    height: 90vh;
    border-radius: 10px 0px 0px 10px;
    text-align: center;
    padding: 10px;
    z-index: 1;
    overflow: auto;
}

.mainLeft h1
{
    position: relative;
    margin: 20px 0px 60px 0px;
}

.selectColumn
{
    position: relative;
    border-radius: 0px 0px 0px 10px;
    font-family: cursive;
}

.dashboard
{
    position: relative;
    background-color: #121b28;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px 20px 0px;
    color: white;
    transition: background-color 0.5s;
}

.transaction
{
    position: relative;
    background-color: #121b28;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px 20px 0px;
    color: white;
    transition: background-color 0.5s;
}

.payment
{
    position: relative;
    background-color: #121b28;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px 20px 0px;
    color: white;
    transition: background-color 0.5s;
}

.settings
{
    position: relative;
    background-color: #121b28;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px 20px 0px;
    color: white;
    transition: background-color 0.5s;
}

.signout
{
    position: relative;
    background-color: #121b28;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0px 50px 0px;
    color: white;
    transition: background-color 0.5s;
}

.dashboard:hover,
.payment:hover,
.transaction:hover,
.settings:hover,
.signout:hover
{
    background-color: white;
    color: black;
}

.mainRight
{
    position: relative;
    margin: 10px;
    background-color: #f5f5f5;
    width: 78%;
    height: 94vh;
    left: 21vw;
    bottom: 97.5vh;
    z-index: 0;
}

.mainRight h2
{
    position: relative;
    top: 2vh;
    background-color: #f5f5f5;
    width: 200px;
    left: 30px;
    font-family: cursive;
    
}


.accountPayment
{
   position: relative;
   border: 2px solid black;
   height: 480px;
   display: flex;
   flex-direction: column;
}

#name,#accountNo,#ifsc
{
    position: relative;
    text-align: center;
    font-family: cursive;
    font-size: medium;
    font-weight: 700;
    padding: 10px;
    width: 300px;
    padding-top: 10px;
    margin: 20px;
    left: 300px;
    top: 30px;
    border-radius: 10px;
}

#sendOTP
{
    position: relative;
    left: 380px;
    top: 50px;
    width: 200px;
    height: 36px;
    border-radius: 20px;
    padding: 5px;
    background-color: #1c89ff;
    cursor: pointer;
    border: 0px;
    font-family: cursive;
    font-size: large;
    transition: transform 0.5s;
    color: white;
}

button:hover
{
    transform: scale(1.1);
}





@media screen and (max-width:620px) and (max-height:400px)
{
    body
    {
        display: flex;
    }
    .mainLeft
    {
        width: 120px;
        height: 400px;
    }
}