body
{
    position: relative;
    height: 520px;
}

a:link {
    
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.mainLeft
{
    position: relative;
    background-color:#121b28;
    color: rgb(255, 255, 255);
    width: 20%;
    height: 90vh;
    border-radius: 10px 0px 0px 10px;
    text-align: center;
    padding: 10px;
    z-index: 1;
    overflow: auto;
}

.mainLeft h1
{
    position: relative;
    margin: 20px 0px 60px 0px;
}

.selectColumn
{
    position: relative;
    border-radius: 0px 0px 0px 10px;
    font-family: cursive;
}

.dashboard
{
    position: relative;
    background-color: #121b28;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px 20px 0px;
    color: white;
    transition: background-color 0.5s;
}

.transaction
{
    position: relative;
    background-color: #121b28;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px 20px 0px;
    color: white;
    transition: background-color 0.5s;
}

.payment
{
    position: relative;
    background-color: #121b28;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px 20px 0px;
    color: white;
    transition: background-color 0.5s;
}

.settings
{
    position: relative;
    background-color: #121b28;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px 20px 0px;
    color: white;
    transition: background-color 0.5s;
}

.signout
{
    position: relative;
    background-color: #121b28;
    border-radius: 10px;
    padding: 10px;
    margin: 20px 0px 50px 0px;
    color: white;
    transition: background-color 0.5s;
}

.dashboard:hover,
.payment:hover,
.transaction:hover,
.settings:hover,
.signout:hover
{
    background-color: white;
    color: black;
}

.mainRight
{
    position: relative;
    margin: 10px;
    background-color: #f5f5f5;
    width: 78%;
    height: 94vh;
    left: 21vw;
    bottom: 97.5vh;
    z-index: 0;
}

.mainRight h2
{
    position: relative;
    top: 2vh;
    background-color: #f5f5f5;
    width: 200px;
    left: 30px;
    font-family: cursive;
}

.profile
{
    position: relative;
    width: 90%;
    text-align: center;
    font-family: cursive;
    top: 5%;
    left: 5%;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #121b28;
    margin: 20px 0px;
    transition: background-color 0.7s;
}

.profile:hover
{
    background-color: rgb(242, 234, 225);
}

#name,#email,#phone,#address
{
    text-align: left;
    display: block;
    margin:20px;
}


.password
{
    position: relative;
    width: 90%;
    text-align: center;
    font-family: cursive;
    top: 5%;
    left: 5%;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #121b28;
    margin: 20px 0px;
}

.password:hover
{
    background-color: rgb(242, 234, 225);
}

#pass
{  
   display: block;
   margin:20px;
   margin-bottom: 50px;  
   width: 130px;
   transition: text-shadow 1s;
   color: black;
}

#authentication
{  
   display: block;
   margin:20px;  
   width: 130px;
   transition: text-shadow 1s;
   color: black;
}

#authentication:hover,#pass:hover
{
    text-shadow: 5px 5px 10px rgb(62, 59, 59);
}




