body
{
    background-color: #f0f0f0;
    height: auto;
    width: auto;
    margin: 0px;
    padding: 0px;
    overflow-x: auto;
}

.main
{
    position: relative;
    border-radius: 10px;
    top: 10px;
    left: 10px;
    width: 1250px;
    height:560px;
    background-color: #f0f0db;
}

.main h1
{
    position: relative;
    text-align: center;
    left: 320px;
    width: 620px;
    margin: 0px;
    font-family: cursive;
    
}



.main h2
{
    position: relative;
    color: #bebaba;
    bottom: 200px;
    width: 100px;
    padding: 20px; 
    z-index: 1;  
}

.main img
{
    position: relative;
    border-radius: 10px;
    width: 1250px;
    height: 200px;
    z-index: 0;
}

a
{
    position: relative;
    left: 1150px;
    bottom:90px;
    color: #bebaba;
}

a:link {
    
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

